<html>
<head>
	<title>Our Portfolio</title>
	<script src="/js/bootstrap.min.js"></script>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/fonts/css/font-awesome.min.css">
</head>
<body>
	<header>
		
	</header>

	<%- defineContent('hero') %>
	<main>
		<div class="container">
			<%- body %>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>